<%-include("./partials/header.ejs")%>
<section class="bookDetail">
    <div class="container">
        <form id="detailForm" method="post">
        <div class="row py-3 px-2 justify-content-center">
            <div class="image-container" style="height:300px">
                <div id="loader" style="display:none"></div>
                <img src="https://covers.openlibrary.org/b/isbn/<%=book[0].isbn%>-L.jpg" id="imagePreview" class="align-self-center" style="height:300px; display:none">
            </div>
        </div>
        <div class="detailContent">
            <div class="row py-3 px-2">
                <div class="col-2">
                    <p class="text-end">Title :</p>
                </div>
                <div class="col px-2">
                    <p name="title"><%=book[0].title%></p>
                </div>
            </div>
            <div class="row py-3 px-2">
                <div class="col-2 text-end">
                    <p>Description :</p>
                </div>
                <div class="col px-2">
                    <p name="description"><%=book[0].description%></p>
                </div>
            </div>
            <div class="row py-3 px-2">
                <div class="col-2 text-end">
                    <p>Summary :</p>
                </div>
                <div class="col px-2">
                    <p name="summary"><%=book[0].summary%></p>
                </div>
            </div>
            <div class="row py-3 px-2">
                <div class="col-2 text-end">
                    <p>Personal Note :</p>
                </div>
                <div class="col px-2">
                    <p name="personalNote"><%=book[0].personal_note%></p>
                </div>
            </div>
            <div class="row py-3 px-2">
                <div class="col-2 text-end">
                    <p>ISBN :</p>
                </div>
                <div class="col px-2">
                    <p name="isbn"><%=book[0].isbn%></p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center pb-3">
            <div class="col-2 text-center">
                <input type="hidden" name="id" value="<%=book[0].id%>">
                <input type="submit" class="btn btn-success" value="Edit" formaction="/edit">
            </div>
            <div class="col-2 text-center">
                <input type="submit" class="btn btn-danger" value="Delete" formaction="/delete">
            </div>
        </div>
    </form>
    </div>
</section>
<script>
    $(document).ready(function() {
            // Show the loader before starting image loading
            $("#loader").show();
            $("#imagePreview").hide(); // Hide the image until it's fully loaded
            console.log("Loading image...");
    
            // When the image finishes loading, hide the loader and show the image
            $("#imagePreview").on("load", function() {
                $("#loader").hide(); // Hide the loader once the image is loaded
                $("#imagePreview").show(); // Show the loaded image
                console.log("Image loaded.");
            });
        });
</script>
<%-include("./partials/footer.ejs")%>